.homecontainer {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 400px; /*space below cards collection*/
}

.cardsContainer {
  /* justify-content: center;
  align-content: space-between;
  border: 1px solid black;
  padding: 1em 1em;
  display: flex;
  flex-wrap: wrap; */
  
                  display: grid; /*columns*/
                  grid-template-columns: repeat(4, 1fr); /*when there are 4 cards, change to 1fr 1fr 1fr 1fr*/
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
                    align-items: center; /*Keeps user in vertical center with other items*/
                   grid-gap: 5px; /*Gap between tabs */
  /* column-gap: auto;  */
   /*Removes default bullets for list menu items*/
               width: auto; 

               grid-auto-rows: auto;
               

}

/*Mid size desktop*/
@media screen and (max-width: 1700px) {
  .cardsContainer {
    /* margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
   */
    grid-template-columns: repeat(3, 1fr); 
  }
}

/* Tablet */
@media screen and (max-width: 1200px) {
  .cardsContainer {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  
    grid-template-columns: repeat(2, 1fr); /*Max 2 cards per row in tablet view*/
  }
  .homecontainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .cardsContainer{
    margin-left: 0px;
    margin-right: 0px;
    /*display: grid; /*columns*/
    grid-template-columns: 1fr; /*Max 1 cards per row in mobile view*/
  }
  .homecontainer {
    margin-left: 5px;
    margin-right: 5px;
  }
}