/* General Button Styling */
.button {
  background-color: hsl(0, 100%, 44%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Limelight', cursive;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

/* General Button Hover Effects */
.button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  box-shadow: 0px 0px 15px 3px hsla(0, 0%, 100%, 0.24);
  transform: scale(1.05);
  transition: transform .5s; /* Animation */
}