.cardContainer {
  text-align: center;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  /* background-color: transparent; */
  /* color: white; */
  margin-left: 0.5em; /*Space between cards in same row*/
  margin-right: 0.5em; /*Space between cards in same row*/
  /* width: 300px; */
  transition: transform 1s; /* Animation */
  /* position: relative; */
  /* width: 100%; */
  /* height: auto; */
  cursor: pointer;
  border-radius: 4px;
  /* max-width: 100vw;  */
  margin-top: 50px;
  /*margin-bottom: 80vh; /*allows users to scroll down below the movie card but still see the chatroom*/
        /* padding-bottom: 0px; */
  height: 650px;
}

.cardContainer:hover {
  box-shadow: 0px 0px 15px 3px hsla(0, 0%, 100%, 0.24);
  transform: scale(1.01);
}

/* .cardImage {
  max-width: 100%;
  max-width: 400px;
  height: auto;
} 
*/


/* Tablet */
@media screen and (max-width: 1024px) {
  .cardContainer {
   
  }
}
/* Galaxy fold */
@media screen and (max-width: 280px) {
  .cardContainer{
   padding: 0px;
   margin-left: 0px;
   margin-right: 0px;
   max-width: 100vw;
  }
  .cardImage {
    max-width: 95%;
  }
}
