.chatroomContainer {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(27, 23, 23);
  width: 100%;

  /*The below introduces a scroll bar when there are more than max-height worth of messages*/
  overflow-y: auto; /*shows vertical scrollbar*/
  overflow-x: hidden; /*hides horizontal scroll bar*/
  max-height: 2000px; 
}

#messagetextarea {
  background: rgb(0, 0, 0);
  height: 100px;
  padding: 5px;
  margin: 10px;
}

.postContainer {
  background-color: hsla(0, 88%, 23%, 0.514);
  margin: 5px;
  padding-right: 20px;
}
