.MessageContainer {
  border: 1px solid red;
  border-radius: 4px;
  background-color: darkgrey;
  color: white;
  width: 300px;
  height: 200px;
}

.MessageUser {

}

.MessageText {

}

.MessageDate {

}