.messagecontainer {
  position: relative;
  border: hsla(0, 0%, 100%, 0.897);
  border-radius: 4px;
  background-color: hsla(0, 1%, 62%, 0.226);
  color: white;
  margin: 1em;
  min-height: 5em;
}

.user {
  position: absolute;
  top: -0.7em;
  left: .25em;
}

.text {
  position: absolute;
  width: 100%;
  height: auto;
  top: 1em;
  left: 2em;
}

.date {
  position: absolute;
  top: .8em;
  left: .25em;
}

.options {
  position: absolute;
  bottom: .25em;
  left: .25em;
}

.editButtons {
  position: absolute;
  bottom: .25em;
}


