.navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /*z-index: An element with greater stack order is always in front of an element with a lower stack order.*/
  z-index: 1000; /*Stacks navbar ontop of everything else*/
  font-size:20px;
  max-width: 100vw;
  position: sticky;
  top: 0;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.navbar-container {
  font-family: 'Limelight', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /*The navbar content has max width to keep the bar central if the view is extremely wide*/
  /* max-width: 1200px; */
}

/*LOGO SECTION */
.logo-section {
  font-family: 'Limelight', cursive;
  display: flex;
  justify-content: left; 
  align-items: center;
  font-size: 40px; 
  margin-left: 70px; /*content 20px away form left edge of screen if view is 1200px wide*/
  text-decoration: none; /*Removes link's default underline*/
  color: white; /*Overide default link purple/blue color*/
  cursor: pointer; /*Cursor changes to pointer when over Logo*/ 

  /* Keeps logo and text on same line: */
  /* position: absolute; 
  top: 10px; */
  /* left: 0;   */
  /* transform: translate(25%, 50%); */
 
}

.logo-section:hover {
  color: white;
  /* text-shadow: 4px 4px 10px #fffb00 */
  text-shadow: /*lights up text */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fffb00,
    0 0 82px #fffb00,
    0 0 92px #fffb00,
    0 0 102px #ff0000,
    0 0 151px #ff0000;
}


/*Navbar menu layout for menu items*/
.nav-menu {
  display: grid; /*columns*/
  grid-template-columns: repeat(4, auto); /*the number and the widths of columns in a grid layout*/
  grid-gap: 30px; /*Gap between PAGES*/
  /* justify-content: right; */
  /* text-align: center; */
  list-style: none; /*Removes default bullets for list menu items*/
  width: auto; /*fits items in navbar */
}

/* .nav-item {
  delete if not needed
} */

.nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 75px; /*kept same as nav-item*/
  color: white; /*Changes default purple/blue link color*/
  text-decoration: none; /*Removes default link underline*/
}

.nav-links:hover {
  color: red;
  /* text-shadow: 7px 6px 14px  red; */
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000, 2px 2px 2px rgba(206,0,0,0);

}

/*burgermenu bars icon*/
.fa-bars {
  color: white;
  font-size: 40px; /*larger icon*/
}
/*burgemenu x icon*/
.fa-times {
  color: white;
  font-size: 40px; /*larger icon*/
}


/*hide burger-icon when outside mobile view*/
.menu-icon {
  display: none; 
}


/* MEDIA BREAK POINTS*/
/*On tablet and smartphone*/
@media screen and (max-width: 1024px) {
  .NavbarItems {
    position: relative;
  }
/*MOBILE Navbar menu responsive layout for menu items*/
  /*default styling for when menu is closed plus transition*/
  .nav-menu {
    display: flex;
    flex-direction: column;/*All menu items listed in a column on top of each other*/
    width: 100%; /*drop down menu fills width of screen*/
    height: 100vh; /* Drop menu fills the page. Can change to only what is needed to accommodate drop down menu.*/
    position: absolute;
    top: 60px;/*Match navbar height*/
    left: -100%; /*drop down menu sits 100% to the left outside the screen when burger menu is closed*/
    transition: all 0.5s ease; /*The burger menu slides left to right and vice versa when menu is opened and closed*/
    padding: 0; /*Fits drop down menu into screen i.e. no overflow*/
  }
  /*when burger menu is opened*/
  .nav-menu.active {
    background: #252525;
    left: 0; /*Makes burger menu slide from left -100, rigth until it fills the screen width 100%*/
    z-index: 1;/*z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky).*/
  }

  .nav-links {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .nav-links:hover {
    background-color: white;
    color: red;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 8px  black;
  
  }

  /*keep logo left in mobile*/
  .logo-section {
    position: absolute;
    left: 0; /*moves logo to left of navbar*/
  }

  /*show burger-icon in mobile view*/
  .menu-icon {
    display: block;
    position: absolute;
    top: 0; /*position icon from top */
    right: 0; /*position icon right*/
    transform: translate(-100%, 50%); /*position*/
    font-size: 30px;
    cursor: pointer;
  }
}



