/* DESKTOP */
.navbar {
  background: hsla(0, 0%, 0%, 0.836);/*navbar backgroundcolor*/
  color:white;/*user text*/
  display: flex;
  position: fixed;  /*sticky*/
  height: 45px; 
  z-index: 1000; /*Stacks navbar ontop of everything else*/
  width: 100%;
  border-radius: 0.2rem; /*Rounds corners of navbar*/
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2), 0 6px 20px 0 hsla(0, 0%, 0%, 0.19);
}

.navbar-container {
  font-size: 20px;
  font-family: 'Limelight', cursive;
  display: flex; /*keeps everything in same row*/
}

/*LOGO SECTION */
.logo-section {
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: left;  */
  /* align-items: center;  */
   /* transform: translate(25%, 50%); */
  font-size: 30px; 
  margin-left: 0px; /*content px away form left edge of screen*/
  text-decoration: none; /*Removes link's default underline*/
  color: hsl(0, 0%, 100%); /*Overide default link purple/blue color*/
  cursor: pointer; /*Cursor changes to pointer when over Logo*/ 
}

.nav-logo {
  font-size: 25px;
  font-family: 'Limelight', cursive;
  display: flex; /*keeps everything in same row*/
  align-items: center;
  padding: 10px;
  color: hsl(0, 0%, 100%); /*Changes default purple/blue link color*/
  text-decoration: none; /*Removes default link underline*/
  margin-left: 0;
}

.nav-logo:hover {
  color: hsl(0, 0%, 100%);
  text-shadow: /*lights up text */
    0 0 7px hsl(0, 0%, 100%),
    0 0 10px hsl(0, 0%, 100%),
    0 0 21px hsl(0, 0%, 100%),
    0 0 42px hsl(59, 100%, 50%),
    0 0 82px hsl(59, 100%, 50%),
    0 0 92px hsl(59, 100%, 50%),
    0 0 102px hsl(0, 100%, 50%),
    0 0 151px hsl(0, 100%, 50%);
}

/*Navbar menu layout for menu items*/
.nav-menu {
  display: grid; /*columns*/
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr; /*spacing the grid nav bar items apart*/
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
  align-items: center; /*Keeps user in vertical center with other items*/
  grid-gap: 20px; /*Gap between tabs */
  /* column-gap: auto;  */
  list-style: none; /*Removes default bullets for list menu items*/
  width: auto; /*fits items in navbar */
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
  /* height: 75px; kept same as nav-item */
  color: hsl(0, 0%, 100%); /*Changes default purple/blue link color*/
  text-decoration: none; /*Removes default link underline*/
}

.nav-links:hover {
  color: hsl(0, 100%, 50%);
  /* text-shadow: 7px 6px 14px  red; */
  text-shadow: 
  0 0 5px hsl(0, 0%, 0%), 
  0 0 10px hsl(0, 0%, 0%), 
  0 0 15px black, 0 0 20px black, 
  0 0 30px hsl(0, 100%, 50%), 
  0 0 40px hsl(0, 100%, 50%), 
  0 0 55px hsl(0, 100%, 50%), 
  0 0 75px hsl(0, 100%, 50%), 
  2px 2px 2px hsla(0, 100%, 40%, 0);
}

@media only screen and (min-width: 1024px){ /*container prevents styling from interfering with burger menu*/
  #item-contact, #item-home {
    transform: translate(20%, 0%);
    padding: 0;
  }
}
/* @media only screen and (min-width: 1024px) and (max-width: 2400px) {
  #item-contact, #item-home {
    color:green;
    transform: translate(20vw, 0%);

  }
} */


/* @media screen and (max-width: 2024px) {
  #item-contact, #item-home {
    color:green;
    transform: translate(40vw, 0%);
    padding: 0;
  }
} */

/*hide burger-icon when outside mobile view*/
.menu-icon {
  display: none; 
}

/*burgermenu bars icon*/
.fa-bars {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  margin: auto;
  padding: auto;
  font-size: 25px; /*larger icon*/
}

/*burgemenu x icon*/
.fa-times {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  margin: auto;
  padding: auto;
  font-size: 25px; /*larger icon*/
}

/* MEDIA BREAK POINTS*/
/*TABLET*/
@media screen and (max-width: 1024px) {
  .NavbarItems {
    position: relative;
  }
  /*default styling for when menu is closed plus transition*/
  .nav-menu {
    display: flex;
    flex-direction: column;/*All menu items listed in a column on top of each other*/
    width: 100%; /*drop down menu fills width of screen*/
    height: 100vh; /* Drop menu fills the page. Can change to only what is needed to accommodate drop down menu.*/
    position: absolute;
    top: 45px;/*Match navbar height*/
    left: -100%; /*drop down menu sits 100% to the left outside the screen when burger menu is closed*/
    transition: all 0.5s ease; /*The burger menu slides left to right and vice versa when menu is opened and closed*/
    padding: 0; /*Fits drop down menu into screen i.e. no overflow*/
  }
  /*when burger menu is opened*/
  .nav-menu.active {
    background: hsl(0, 0%, 15%);
    left: 0; /*Makes burger menu slide from left -100, rigth until it fills the screen width 100%*/
    z-index: 1;/*z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky).*/
  }
  .nav-links {
    display: flex;
    justify-content: center; 
    align-items: center;
    line-height: 50px;
  }
  .nav-links:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;
    width: 100%;
    /*adds black outline around text whilst also allowing for a seperate text shadow:*/
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: hsl(0, 0%, 0%);
    text-shadow: 3px 3px 8px  hsl(0, 0%, 0%); 
  }
  /*show burger-icon in mobile view*/
  .menu-icon {
    display: block;
    position: absolute;
    top: 0; /*position icon from top */
    right: 0; /*position icon right*/
    transform: translate(-100%, 50%); /*position*/
    font-size: 30px;
    cursor: pointer;
  }
}
/* MEDIA BREAK POINTS*/
/*MOBILE*/
@media screen and (max-width: 767px) {
  /*LOGO SECTION */
  .logo-section {
    font-size: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

